<legend class='from_top'><h3>New comment:</h3></legend>

<%= form_for [@ticket, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <div id="errorExplanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <%= f.text_area :text, :class => 'field_to_add', :placeholder => "Add some comment"  %>

  <% authorized?(:"change states", @project) do %>
    <div class="control-group">
        <%= f.label :state_id, "State:",:class => "control-label" %>
        <div class="controls">
          <%= f.select :state_id , @states.map { |s| [s.name, s.id] }, :selected => @ticket.state_id %>
      </div>
    </div>

    <%= render :partial => "tags/form" %>
  <% end %>

  <div class="control-group">
     <div class="controls">
    <%= f.submit "Create comment", :class => 'btn'  %>
     </div>
  </div>
<% end %>
