<%= form_for [@project, @ticket], :html => { :multipart => true } do |f| %>

  <% if @ticket.errors.any? %>
    <div id="errorExplanation">
        <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this tickets from being saved:</h2>
        <ul>
          <% @ticket.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

	<div class="control-group">
	    <%= f.label :title, "Title:", class: "control-label" %>
	  <div class="controls">
	    <div class="input-prepend">
	      <span class="add-on"><i class="icon-pencil"></i></span>
	      <%= f.text_field :title, placeholder: "Title of ticket", autofocus: true %>
	    </div>
	  </div>
	</div>

	<div class="control-group">
	    <%= f.label :description, "Description:", :class => "control-label" %>
	  <div class="controls">
	    <div class="input-prepend">
	      <%= f.text_area :description, rows: 5, class: "span5" %>
	    </div>
	  </div>
	</div>

<% number = 0 %>
<%= f.fields_for :assets do |asset| %>
	<p>
		<%= asset.label :asset, "File ##{number += 1}" %>
		<%= asset.file_field :asset %>
	</p>
<% end %>

	<div class="control-group">
	   <div class="controls">
	  <%= f.submit "Create Ticket", class: 'btn btn-success'  %>
	   </div>
	</div>
<% end %>
