<% title(@project.name, "Projects") %>

<blockquote>
	<p><%= @project.name %></p>
	<small> name of current project </small>
</blockquote>

<%= link_to 'back', projects_path, class: 'btn right_margin' %>
<%= admins_only do %>
	<%= link_to "Edit Project", edit_project_path(@project), class: 'btn btn-warning' %>
	<%= link_to "Delete Project", project_path(@project.id), method: :delete, confirm: "Are you sure you want to delete this project?", class: 'btn btn-danger' %>
<% end %>

<%= paginate @tickets %>

<dl id='tickets' class="dl-horizontal">
	<% @tickets.each do |ticket| %>
		<dt>
			<div>
				<%= render ticket.state if ticket.state %>
			</div>
		</dt>
		<dd>
			#<%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
		</dd>
	<% end %>
</dl>

<%= form_tag search_project_tickets_path(@project), :method => :get, :class => 'form-search' do %>
 	<div class="input-append">
		<%= text_field_tag "search", params[:search], :class => "span2 search-query", :placeholder => "tag:iteration_1 state:Open" %>
		<%= submit_tag "Search", :class => 'btn' %>
	</div>
<% end %>

<%= authorized?("create tickets".to_sym, @project) do %>
	<%= link_to "New Tecket", new_project_ticket_path(@project.id), class: 'btn btn-success' %>
<% end %>