<%= form_for [:admin, @user], :html => {:class => 'form-horizontal' } do |f| %>
  
  <% if @user.errors.any? %>
    <div id="errorExplanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <%= f.email_field :email, :id => "inputEmail", :placeholder => "Email" %>
      </div>
    </div>
  </div>

  <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        <%= f.password_field :password, :id => "inputPassword", :placeholder => "Password" %>
      </div>
    </div>
  </div>
  
	<div class="control-group">
	   <div class="controls">
	      <label class="checkbox">
	    		<%= f.check_box :admin %>  Is an admin?
	    	</label>
				<%= f.submit "Create", :class => 'btn'  %>
	   </div>
	</div>

<% end %>
