<%= form_for [:admin, @state] do |f| %>
  <% if @state.errors.any? %>
    <div id="errorExplanation">
        <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>
        <ul>
          <% @state.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-book"></i></span>
        <%= f.text_field :name, placeholder: "State name", autofocus: true %>
      </div>
    </div>
  </div>
  
  <div class="control-group">
     <div class="controls">
    <%= f.submit "Add new state", class: 'btn btn-success'  %>
     </div>
  </div>
<% end %>
